[submodule "include/zensim/tpls"]
	path = include/zensim/zpc_tpls
	url = https://github.com/zensim-dev/tpls.git
[submodule "zpc_assets"]
	path = zpc_assets
	url = https://github.com/zensim-dev/assets.git