.vscode
build
Projects/**/*.so
**/*.exe.manifest
**/*.exe
**/*.bgeo
.clangd/
**/*.avi
**/*.hip
.cache/
**/*.vtk
**/*.obj
**/*.vdb

Projects/IPC/ipc
Projects/RobustMPM/robustmpm
Projects/GuiSystem/guisystem
Projects/OpenglVis/openglvis
Tests/Snode/test_snode
Projects/OpenglVis/quicksilver
Tests/Umpire/test_umpire
Tests/Container/test_container
Tests/Script/test_script
Tests/execution/test_exec
Tests/Script/script_example
Tests/CuLinSolver/test_cusolver
Tests/Execution/test_exec
Tests/Execution/test_iter
Data/
include/zensim/libzpc.so
